In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('mccheyne-bible-reading.csv')
df.Date = df.Date.str[5:]
df = df.set_index('Date')
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df

          Passage1   Passage2 Passage3    Passage4 Passage5
Date
01-01        Gen 1      Mat 1    Ezr 1      Acts 1      NaN
01-02        Gen 2      Mat 2    Ezr 2      Acts 2      NaN
01-03        Gen 3      Mat 3    Ezr 3      Acts 3      NaN
01-04        Gen 4      Mat 4    Ezr 4      Acts 4      NaN
01-05        Gen 5      Mat 5    Ezr 5      Acts 5      NaN
...            ...        ...      ...         ...      ...
12-27     2 Chr 31     Rev 17   Zec 13     John 16      NaN
12-28     2 Chr 32     Rev 18   Zec 14     John 17      NaN
12-29     2 Chr 33     Rev 19    Mal 1     John 18      NaN
12-30     2 Chr 34     Rev 20    Mal 2     John 19      NaN
12-31  2 Chr 35-36  Rev 21-22  Mal 3-4  John 20-21      NaN

[366 rows x 5 columns]

In [14]:
df.T.to_json('mccheyne-bible-reading.json')